.font:Verdana;
}
.page{
    border:10px solid white;
}
.Header{
background-color:white;
text-align: center;
}
.Header h1{
    margin-left:20px;
    margin-top:20px;
    color:#e87d3f;
    text-align: center;
    
    display:inline-block;
} 
.Header h5{
    color:#ff0000;
    display:inline-block;
    text-align: center;
}
h2{
  color:#e87d3f;
}
h3{
  color:#ba6831;
}
p{
    width:70%;
}
.pagelinks{
   float:right;
   margin-right:50px;
}
.pagelinks a{
    text-decoration:none;
    margin-left:515px;
}
.pagelinks p ,h4{
    width:30%;
    margin-left:500px;
    }

.dropbtn {
    background-color:#e87d3f;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-decoration:none;
    margin-left:20px;
    margin-right:20px;
    column-span:all;
}

.dropdown {
    border-radius; 25px;
    position: relative;
    display: inline-block;
    background-color:#e87d3f;
    float: right;
    margin-top: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration:none;
    display: block;
}
.Catergories1{
    list-style-type:none;
        overflow: hidden;
        float:left;
}
.Catergories2{
    list-style-type:none;
        overflow: hidden;
}
.Catergories3{
    list-style-type:none;
        overflow: hidden;
}
.Page hr {
    background-color:red;
}
.link li{
    list-style-type:none;
}
.link  a{
    text-decoration:none;
}
.footer{
    text-align: center;
	  text-decoration:none;
	  font-size: 100%;
	  color:white;
      background-color:#e87d3f;
      overflow: hidden; 
      column-span:none;
      padding: left 250;px;
      padding-right:100px;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  background-color:Gray;
}


.mySlides {
    display: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.text {
  color: ;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
 
  animation-name: fade;
  animation-duration: 1.5s;
}
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
